/* logo navy hs 255-275 */
--logo-navy-hs-255-275-25: #f3f7fb;
--logo-navy-hs-255-275-100: #d1e2f7;
--logo-navy-hs-255-275-200: #adcdf4;
--logo-navy-hs-255-275-275: #88b8f2;
--logo-navy-hs-255-275-350: #60a3ee;
--logo-navy-hs-255-275-425: #438ddf;
--logo-navy-hs-255-275-500: #3878c3;
--logo-navy-hs-255-275-600: #2e63a7;
--logo-navy-hs-255-275-675: #254f8b;
--logo-navy-hs-255-275-750: #193767;

/* true logo navy 255- */
--true-logo-navy-255-25: #f3f7fb;
--true-logo-navy-255-100: #d1e2f7;
--true-logo-navy-255-200: #accdf4;
--true-logo-navy-255-275: #86b8f2;
--true-logo-navy-255-350: #62a6ef;
--true-logo-navy-255-425: #418edb;
--true-logo-navy-255-500: #3778bf;
--true-logo-navy-255-600: #2e64a3;
--true-logo-navy-255-675: #245086;
--true-logo-navy-255-750: #183863;

/* logo orange hs  68-44 */
--logo-orange-hs-68-44-25: #fcf5ee;
--logo-orange-hs-68-44-100: #fcd9b9;
--logo-orange-hs-68-44-200: #fdba80;
--logo-orange-hs-68-44-275: #ff9843;
--logo-orange-hs-68-44-350: #ff7b00;
--logo-orange-hs-68-44-425: #dd6200;
--logo-orange-hs-68-44-500: #c44d00;
--logo-orange-hs-68-44-600: #aa3900;
--logo-orange-hs-68-44-675: #902600;
--logo-orange-hs-68-44-750: #721900;

/* logo sky hs 263-244 */
--logo-sky-hs-263-244-25: #f4f7fc;
--logo-sky-hs-263-244-100: #d0e2fa;
--logo-sky-hs-263-244-200: #a7cefb;
--logo-sky-hs-263-244-275: #72bbfc;
--logo-sky-hs-263-244-350: #22abfb;
--logo-sky-hs-263-244-425: #1b92d4;
--logo-sky-hs-263-244-500: #1785be;
--logo-sky-hs-263-244-600: #106894;
--logo-sky-hs-263-244-675: #0a5476;
--logo-sky-hs-263-244-750: #063c54;
