/* orange hs  68-44 */
--orange-hs-68-44-25: hsl(28.74, 73.1%, 96.22%);
--orange-hs-68-44-100: hsl(28.38, 91.15%, 85.69%);
--orange-hs-68-44-200: hsl(27.69, 97.38%, 74.86%);
--orange-hs-68-44-275: hsl(27.13, 99.96%, 63.21%);
--orange-hs-68-44-350: hsl(28.98, 100%, 50%);
--orange-hs-68-44-425: hsl(26.72, 99.79%, 43.36%);
--orange-hs-68-44-500: hsl(23.69, 99.99%, 38.37%);
--orange-hs-68-44-600: hsl(20.07, 99.88%, 33.35%);
--orange-hs-68-44-675: hsl(15.7, 100%, 28.17%);
--orange-hs-68-44-750: hsl(13.21, 99.84%, 22.29%);

/* sky hs 263-244 */
--sky-hs-263-244-25: hsl(217.74, 59.44%, 97.18%);
--sky-hs-263-244-100: hsl(215.38, 81.61%, 89.92%);
--sky-hs-263-244-200: hsl(212.39, 91.15%, 81.93%);
--sky-hs-263-244-275: hsl(208.48, 96.02%, 71.84%);
--sky-hs-263-244-350: hsl(202.11, 96.38%, 55.78%);
--sky-hs-263-244-425: hsl(201.24, 77.34%, 46.81%);
--sky-hs-263-244-500: hsl(200.46, 78.49%, 41.76%);
--sky-hs-263-244-600: hsl(199.78, 80.65%, 32.05%);
--sky-hs-263-244-675: hsl(198.85, 83.84%, 25.15%);
--sky-hs-263-244-750: hsl(198.46, 87.07%, 17.59%);

/* navy hs 255- */
--navy-hs-255-25: hsl(212.45, 53.04%, 96.95%);
--navy-hs-255-100: hsl(212.61, 69.09%, 89.22%);
--navy-hs-255-200: hsl(212.51, 76.32%, 81.59%);
--navy-hs-255-275: hsl(211.92, 80.55%, 73.65%);
--navy-hs-255-350: hsl(210.98, 81.04%, 66.04%);
--navy-hs-255-425: hsl(210.14, 68.4%, 55.86%);
--navy-hs-255-500: hsl(211.18, 55.03%, 48.29%);
--navy-hs-255-600: hsl(212.29, 56.19%, 40.81%);
--navy-hs-255-675: hsl(213.34, 58.01%, 33.37%);
--navy-hs-255-750: hsl(214.4, 60.97%, 24.12%);