/* orange hs  68-44 */
--orange-hs-68-44-25: rgb(252, 245, 238);
--orange-hs-68-44-100: rgb(252, 217, 185);
--orange-hs-68-44-200: rgb(253, 186, 128);
--orange-hs-68-44-275: rgb(255, 152, 67);
--orange-hs-68-44-350: rgb(255, 123, 0);
--orange-hs-68-44-425: rgb(221, 98, 0);
--orange-hs-68-44-500: rgb(196, 77, 0);
--orange-hs-68-44-600: rgb(170, 57, 0);
--orange-hs-68-44-675: rgb(144, 38, 0);
--orange-hs-68-44-750: rgb(114, 25, 0);

/* sky hs 263-244 */
--sky-hs-263-244-25: rgb(244, 247, 252);
--sky-hs-263-244-100: rgb(208, 226, 250);
--sky-hs-263-244-200: rgb(167, 206, 251);
--sky-hs-263-244-275: rgb(114, 187, 252);
--sky-hs-263-244-350: rgb(34, 171, 251);
--sky-hs-263-244-425: rgb(27, 146, 212);
--sky-hs-263-244-500: rgb(23, 133, 190);
--sky-hs-263-244-600: rgb(16, 104, 148);
--sky-hs-263-244-675: rgb(10, 84, 118);
--sky-hs-263-244-750: rgb(6, 60, 84);

/* navy hs 255- */
--navy-hs-255-25: rgb(243, 247, 251);
--navy-hs-255-100: rgb(209, 226, 247);
--navy-hs-255-200: rgb(172, 205, 244);
--navy-hs-255-275: rgb(134, 184, 242);
--navy-hs-255-350: rgb(98, 166, 239);
--navy-hs-255-425: rgb(65, 142, 219);
--navy-hs-255-500: rgb(55, 120, 191);
--navy-hs-255-600: rgb(46, 100, 163);
--navy-hs-255-675: rgb(36, 80, 134);
--navy-hs-255-750: rgb(24, 56, 99);