/* orange hs  68-44 */
--orange-hs-68-44-25: #fcf5ee;
--orange-hs-68-44-100: #fcd9b9;
--orange-hs-68-44-200: #fdba80;
--orange-hs-68-44-275: #ff9843;
--orange-hs-68-44-350: #ff7b00;
--orange-hs-68-44-425: #dd6200;
--orange-hs-68-44-500: #c44d00;
--orange-hs-68-44-600: #aa3900;
--orange-hs-68-44-675: #902600;
--orange-hs-68-44-750: #721900;

/* sky hs 263-244 */
--sky-hs-263-244-25: #f4f7fc;
--sky-hs-263-244-100: #d0e2fa;
--sky-hs-263-244-200: #a7cefb;
--sky-hs-263-244-275: #72bbfc;
--sky-hs-263-244-350: #22abfb;
--sky-hs-263-244-425: #1b92d4;
--sky-hs-263-244-500: #1785be;
--sky-hs-263-244-600: #106894;
--sky-hs-263-244-675: #0a5476;
--sky-hs-263-244-750: #063c54;

/* navy hs 255- */
--navy-hs-255-25: #f3f7fb;
--navy-hs-255-100: #d1e2f7;
--navy-hs-255-200: #accdf4;
--navy-hs-255-275: #86b8f2;
--navy-hs-255-350: #62a6ef;
--navy-hs-255-425: #418edb;
--navy-hs-255-500: #3778bf;
--navy-hs-255-600: #2e64a3;
--navy-hs-255-675: #245086;
--navy-hs-255-750: #183863;
